*{
    margin: 0; 
    padding: 0; 
}

.text-styling {
    text-align: center;
    margin: 12vw 12vw 3vw 12vw;
}

.margin-bottom {
    margin-bottom: 8vw;
}

.text-separate {
    margin-bottom: 3vw;
}
/*Navigation*/
#nav-mobile {
    display: flex;
    justify-content: space-between;
    margin-top: 4vw;
    padding: 2vw;
}

#nav-mobile h1 {
    padding-left: 5vw;
    padding-top: 2vw;
    font-size: 2.5rem;
}

.open-btn {
    padding: 0.6rem;
    margin-right: 4vw; 
    margin-top: 2vw;
    font-size: 1.5rem;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: white;
}

.sidepanel {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #e1f1ff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 6vw;
  }

  .sidepanel a {
    padding: 1rem 0 1rem 3rem;
    text-decoration: none;
    font-size: 1.8rem;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidepanel .closebtn {
    position: absolute;
    top: 1vw;
    right: 3vw;
    font-size: 2rem;
    margin-left: 50px;
}

#nav-full {
    display: none; 
}

/* content gird */
.grid-container , .grid-container2 {
    display: block;
}

/*Slide show*/

#cover {    
    max-width: 800px;
}


/* content design */
#opening-hours {
    background: #e1f1ff;
    padding: 3vw;
}

#reception-open , #ice-cream-open , #bistro-open {
    margin: 2vw 0 4vw 0;
}

.thumbnails {
    max-width: 80vw;
    margin-top: 5vw;
}

.position-realtive {
    position: relative;
}

.title {
    position: absolute;
    bottom: 0.9vw;
    font-size: 1.2rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.466);
}

/* footer */
footer{
    text-align: center;
}

/* ipad */
@media (min-width: 600px) {

    .grid-container2 {
        display: grid;
    }
    .thumbnails {
        max-width: 200px;
    }
}

/* desktop */
@media (min-width: 980px) {

    #nav-mobile{
        display: none;
    }

    #nav-full{
        display: grid;
        grid-template-columns: 7fr 1fr 1fr 1fr 1fr 1fr 1fr;
        margin: 1vw;
        padding: 2vw;
    }
    #nav-full h1 {
        font-size: 2rem;
    }
    #nav-full a{
        text-decoration: none;
        color: black;
        font-size: 1.2rem;
        align-self: center;
    }
    #nav-full a:hover {
        color: gray;
    }

    .text-styling {
        text-align: center;
        margin: 0 ;
    }

    .margin-bottom {
        margin-bottom: 0;
    }
    .slide-show {
        max-height: 200px;
    }
    .grid-container {
        display: grid;
        grid-template-columns: 68vw 1fr;
        grid-template-rows: 60vh 1fr 1fr;    
    }

    #welcome-text {
        align-self: center;
    }
    #welcome-text p {
        margin: 3vw;
        line-height: 1.6rem;
        text-align: justify;
    }

    #opening-hours {
        align-self: center;
    }

    #information {
        align-self: center;
    }

    #marina {
        align-self: center;
    }

    .grid-container2 {
        display: grid;
        grid-template-columns: repeat(13, 5vw);
        grid-template-rows: 3vh 6vh 1fr 3vh 6vh 1fr 8vh;
    }
    #eat {
        grid-column: 1 / -1;
        grid-row-start: 2;
    }
    #bistro {
        grid-column: 3 / 7;
        grid-row-start: 3;
    }

    #ice-cream {
        grid-column: 8 / 12;
        grid-row-start: 3;
    }

    #live {
        grid-column: 1 / -1;
        grid-row-start: 5;
    }

    #hostel {
        grid-column: 3/ 7;
        grid-row-start: 6;
    }

    #cottage {
        grid-column: 8 / 12;
        grid-row-start: 6;
    }

    .thumbnails {
        max-width: 100%;
        margin: 0;
        height: 15vw;
    }
  
    
    #cover{
        display: none ;
    }
}