* {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
}

/* text styling mostly small screen */
.content-styling {
  text-align: center;
  margin: 12vw 12vw 3vw 12vw;
  line-height: 1.6rem;
}

.margin-bottom {
  margin-bottom: 8vw;
}

.text-separate {
  margin-bottom: 3vw;
}

/*Navigation*/
#nav-mobile {
  display: flex;
  justify-content: space-between;
  padding: 2vw;
}

#nav-mobile h1 {
  padding-left: 5vw;
  padding-top: 2vw;
  font-size: 2.5rem;
}

.open-btn {
  padding: 0.6rem;
  margin-right: 4vw;
  margin-top: 2vw;
  font-size: 1.5rem;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: white;
}

.sidepanel {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background: #e1f1ff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 6vw;
}

.sidepanel a {
  padding: 1rem 0 1rem 3rem;
  text-decoration: none;
  font-size: 1.8rem;
  color: black;
  display: block;
  transition: 0.3s;
}

.sidepanel .closebtn {
  position: absolute;
  top: 1vw;
  right: 3vw;
  font-size: 2rem;
  margin-left: 50px;
}

#nav-full ,#bistro-img-1 {
  display: none;
  
}

/* content gird */
.grid-container,
.grid-container2 {
  display: block;
}

/* background image */

#cover {
  max-width: 800px;
}

.background {
  display: hidden;
}

/* content design */

#bg-welcome {
  text-align: center;
  font-size: 0.9rem;
  filter: drop-shadow(none);
  margin-top: 3vh;
}

#opening-hours,
#bistro-p-open {
  background: #e1f1ff;
  padding: 3vw;
}

#reception-open,
#ice-cream-open,
#bistro-open {
  margin: 3vh 0 3vh 0;
}

#information {
  background: #e1f1ff;
  padding: 3vw;
}

#infomration img {
  max-width: 2vw;
}

.thumbnails {
  max-width: 100%;
  margin-top: 5vw;
}

.position-realtive {
  position: relative;
}

.title {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 1.5rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.589);
  margin-bottom: 0.7vh;
  padding: 1vh 0 1vh 0;
}

.title:hover {
  background-color: rgb(0, 0, 0);
}

#map {
  margin: 0;
}

/* Bistro content */

#menu {
  display: grid;
  grid-template-columns: repeat(15, 5vw);
  grid-template-rows: repeat(14, 4vh);
  grid-row-gap: 2vh;
  background: #e1f1ff;
}

#menu-header {
  grid-column: 1 / -1;
  grid-row: 1 / 3;
  padding-top: 2vh;

}

#pre-head {
  grid-column: 1 / -1;
  grid-row-start: 3;
}

#pre-menu {
  grid-column: 1 / -1;
  grid-row: 4 / 6;
  text-align: left;
  padding-left: 2vw;
}

#pre-price {
  grid-column: 13 / 15;
  grid-row: 4 / 6;
}

#main-course-head {
  grid-column: 1 / -1;
  grid-row-start: 6;
}

#main-course-menu {
  grid-column: 1 / -1;
  grid-row: 7 / 10;
  text-align: left;
  padding-left: 2vw;
}

#main-course-price {
  grid-column: 13 / 15;
  grid-row: 7 / 12;
}
#kid-head {
  grid-column: 1 / -1;
  grid-row-start: 12;
}

#kid-menu {
  grid-column: 1 / 13;
  grid-row: 13 / 17;
  text-align: left;
  padding-left: 2vw;
}

#kid-price {
  grid-column: 13 / 15;
  grid-row: 13 / 17;
}

#bistro-img-2 , #bistro-img-3 {
  max-width: 100%;
}

/* footer */
footer {
  padding: 4vh;
  color: black;
  text-align: justify;
  background: #e1f1ff;
}

#contact,
#adress,
#socials {
  padding-bottom: 1rem;
}

.fa {
  color: black;
  padding-right: 1rem;
}

/* ipad */
@media (min-width: 600px) {
  .grid-container2 {
    display: grid;
    grid-template-columns: repeat(19, 4vw);
    grid-template-rows: 3vh 6vh 1fr 3vh 6vh 1fr 3vh;
    letter-spacing: 0.1rem;
  }
  #eat {
    font-size: 2rem;
    grid-column: 1 / -1;
    grid-row-start: 2;
    align-self: center;
  }
  #bistro {
    grid-column: 1 / 9;
    grid-row-start: 3;
  }

  #ice-cream {
    grid-column: 12 / 20;
    grid-row-start: 3;
  }

  #live {
    font-size: 2rem;
    grid-column: 1 / -1;
    grid-row-start: 5;
    align-self: center;
  }

  #hostel {
    grid-column: 1/ 9;
    grid-row-start: 6;
  }

  #cottage {
    grid-column: 12 / 20;
    grid-row-start: 6;
  }

  footer {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 4vh;
    text-align: none;
  }

  #copyright {
    grid-column-start: 1;
    grid-row-start: 1;
    align-self: center;
  }

  #contact {
    grid-column-start: 2;
    align-self: center;
  }

  #adress {
    grid-column-start: 3;
    align-self: center;
  }
  #socaials {
    grid-column-start: 4;
    align-self: center;
  }

  /* bistro page */

  #pre-menu {
    grid-column: 3 / -1;
  }

  #pre-price {
    grid-column: 11 / 15;
  }

  #main-course-head {
    grid-column: 1 / -1;
    grid-row-start: 6;
  }

  #main-course-menu {
    grid-column: 3 / -1;
  }

  #main-course-price {
    grid-column: 11 / 15;
  }
  #kid-head {
    grid-column: 1 / -1;
    grid-row-start: 12;
  }

  #kid-menu {
    grid-column: 3 / 13;
    grid-row: 13 / 17;
    text-align: left;
    padding-left: 2vw;
  }

  #kid-price {
    grid-column: 11 / 15;
    grid-row: 13 / 17;
  }
}

/* desktop */
@media (min-width: 980px) {
  .dropshadow {
    filter: drop-shadow(0.5vw 0.5vw 0.5vw hsla(0, 0%, 0%, 0.56));
  }

  .content-styling {
    text-align: center;
    margin: 0;
  }

  .margin-bottom {
    margin-bottom: 0;
  }

  #nav-mobile , #cover , #bistro-cover-mobile{
    display: none;
  }

  #nav-full {
    display: grid;
    grid-template-columns: 7fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 2vw;
    min-width: 100%;
    padding: 1vw;
    z-index: 1;
    position: fixed;
    background-color: white;
    letter-spacing: 0.1rem;
  }
  #nav-full h1 {
    font-size: 2rem;
    padding-left: 2vw;
  }
  #nav-full a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    align-self: center;
  }
  #nav-full a:hover {
    color: gray;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 68vw 1fr 3vw;
    grid-template-rows: 3vh 65vh 3vh 20vh 1fr 3vh 20vh 50vh 3vh;
    column-gap: 3vw;
    row-gap: 3vh;
  }

  .background {
    background-image: url(./photos/cover.jpg);
    min-height: 80vh;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #bg-welcome {
    position: absolute;
    top: 25%;
    left: 35%;
    padding: 3vw 4vw 3vw 4vw;
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 0.2vw;
    line-height: 4rem;
    color: white;
    background-color: #00000083;
  }

  #welcome-text {
    grid-column-start: 1;
    grid-row-start: 2;
    align-self: center;
  }

  #welcome-text p {
    margin: 2vw;
    line-height: 1.6rem;
    padding-left: 8vw;
    padding-right: 8vw;
    text-align: justify;
  }

  #opening-hours {
    grid-column-start: 2;
    grid-row-start: 2;
    align-self: center;
  }

  #information {
    grid-column-start: 2;
    grid-row-start: 5;
    align-self: center;
    margin-top: 10vh;
  }

  #marina {
    grid-column-start: 1;
    grid-row-start: 8;
    align-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 4vh 1vh 2fr 1fr;
    grid-row-gap: 2vh;
  }

  #m-title {
    grid-column: 1 / -1;
    grid-row-start: 1;
  }

  #m-harbour {
    grid-column-start: 1;
    grid-row-start: 3;
    padding: 0 3vw 3vw 3vw;
  }

  #m-fuel {
    grid-column-start: 2;
    grid-row-start: 3;
  }

  #m-price {
    grid-column: 1 / -1;
    grid-row-start: 4;
  }

  #marina-img {
    max-width: 35vw;
  }

  #map {
    grid-column-start: 2;
    grid-row-start: 8;
  }

 #breaker , #breaker2 {
  background: url(./photos/cover.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: grayscale(50%); /* Safari 6.0 - 9.0 */
  filter: grayscale(50%);
 }

  #breaker {
    grid-column: 1 / -1;
    grid-row-start: 4;

  }

  #breaker2 {
    grid-column: 1 / -1;
    grid-row-start: 7;
  }

  /* EAT/LIVING */
  .grid-container2 {
    grid-column-start: 1;
    grid-row-start: 5;
    display: grid;
    grid-template-columns: repeat(16, 4vw);
    grid-template-rows: 8vh 6vh 1fr 3vh 6vh 1fr 8vh;
    grid-row-gap: 1.5vh;
  }
  #eat {
    font-size: 2rem;
    grid-column: 1 / -1;
    grid-row-start: 2;
    align-self: start;
  }

  #bistro {
    grid-column: 3 / 8;
    grid-row-start: 3;
  }

  #ice-cream {
    grid-column: 10 / 15;
    grid-row-start: 3;
  }

  #live {
    font-size: 2rem;
    grid-column: 1 / -1;
    grid-row-start: 5;
    align-self: start;
  }

  #hostel {
    grid-column: 3/ 8;
    grid-row-start: 6;
  }

  #cottage {
    grid-column: 10 / 15;
    grid-row-start: 6;
  }

  .thumbnails {
    max-width: 100%;
    margin: 0;
    height: 15vw;
  }

  #bistro-p-open {
    position: absolute;
    top: 28%;
    right: 10%;
    font-size: 1.4rem;
    width: 12%;
    height: 25vh;
    line-height: 2rem;
  }

  #bistro-page-text {
    position: absolute;
    top: 25%;
    left: 8%;
    width: 50%;
    background-color: white;
    padding: 2vw;
    font-size: 1.2rem;
    text-align: justify;
  }

  #menu-container {
    display: grid;
    grid-template-columns: repeat(33, 3vw);
    grid-template-rows: 5vh 2fr 5vh;
  }

  #menu {
    grid-column: 10 / 26;
    grid-row-start: 2;
    grid-template-columns: repeat(16, 3vw);
    grid-template-rows: repeat(14, 4vh);
  }

  #menu p {
    font-size: 1.2rem;
  }

  #menu-header {
    grid-column: 1 / -1;
    grid-row: 1 / 3;
  }

  #pre-head {
    grid-column: 1 / -1;
    grid-row-start: 3;
  }

  #pre-menu {
    grid-column: 3 / -1;
    grid-row: 4 / 6;
    text-align: left;
    padding-left: 0;
  }

  #pre-price {
    grid-column: 12 / 14;
    grid-row: 4 / 6;
    text-align: right;

  }

  #main-course-head {
    grid-column: 1 / -1;
    grid-row-start: 6;
  }

  #main-course-menu {
    grid-column: 3 / -1;
    grid-row: 7 / 10;
    text-align: left;
    padding-left: 0;
  }

  #main-course-price {
    grid-column: 12 / 14;
    grid-row: 7 / 10;
    text-align: right;

  }
  #kid-head {
    grid-column: 1 / -1;
    grid-row-start: 12;
  }
  
  #kid-menu {
    grid-column: 3 / -1;
    grid-row: 13 / 17;
    text-align: left;
    padding-left: 0;
  }
  
  #kid-price {
    grid-column: 12 / 14;
    grid-row: 13 / 17;
    text-align: right;
  }


  #bistro-img {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 3vh 1fr 3vh;
    grid-column-gap: 3vw;
    margin-bottom: 2vh;
  }
  
  #bistro-img-1 , #bistro-img-2 , #bistro-img-3 {
    max-width: 25vw;
    align-self: center;
  }

  #bistro-img-1 {
    display: inline;
    grid-column: 3;
    grid-row-start: 2;
  }

  #bistro-img-2{
    grid-column: 4;
    grid-row-start: 2;

  }

  #bistro-img-3 {
    grid-column: 5;
    grid-row-start: 2;
  }

  footer {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 4vh;
    text-align: none;
  }

  #copyright {
    font-size: 1.7rem;
  }
}
